
	<ion-view view-title="Home">
 

	<ion-content class="padding">
	<p>
	Insurance is a means of protection from financial loss. It is a form of risk management primarily used to hedge against the risk of a contingent, uncertain loss. An entity which provides insurance is known as an insurer, insurance company, or insurance carrier. A person or entity who buys insurance is known as an insured or policyholder.
	Some interesting info is available in below links. Please go through:
	</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" 
			href="#/templates/life">Life Insurance Videos</a> 
		</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" 
			href="#/templates/pandc">P&amp;C Insurance Videos</a>
		</p>
	
			</ion-content>
	</ion-view>

