<ion-view view-title="Life Insurance">

  <ion-content class="padding">
 <p>
      Life insurance (or life assurance, especially in the Commonwealth of Nations), is a contract between an insurance policy holder and an insurer or assurer, where the insurer promises to pay a designated beneficiary a sum of money (the benefit) in exchange for a premium, upon the death of an insured person (often the policy holder). Depending on the contract, other events such as terminal illness or critical illness can also trigger payment. The policy holder typically pays a premium, either regularly or as one lump sum. Other expenses (such as funeral expenses) can also be included in the benefits.
  </p>
    <ion-list>
        <div class="card">
        <ion-item>
        <div class="video-container">
        <iframe src="https://www.youtube.com/embed/YPpdpjZ5yEw?" frameborder="0" width="100%" height="40%"></iframe>
        </div>
        </ion-item>
        </div>
        </ion-list>
      </ion-content>
  </ion-view>
    <!-- <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Life Videos</h1>
      </ion-header-bar>
      <ion-content>
      <ion-list>
        <div class="card">
        <ion-item>
        <div class="video-container>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YPpdpjZ5yEw?rel=0&amp;showinfo=0" frameborder="0"></iframe>
        <iframe src="https://youtu.be/67iiYbGJoVk" frameborder="0" width="560" height="315"></iframe>
        </div>
        </ion-item>
        </div>-->
        <!-- <div class="card">
        <ion-item>
          <div class="video-container">
          <iframe src="https://youtu.be/fsoXp9tI2rc" frameborder="0" width="560" height="315"></iframe>
          </div>
        </ion-item>
        </div> -->
      <!--</ion-list>
   </ion-content>
  </ion-pane> 
 -->